obj/project.assets.json
obj/project.nuget.cache
obj/Debug/netcoreapp3.1/ExtensionMethods.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.1/ExtensionMethods.assets.cache
obj/Debug/netcoreapp3.1/ExtensionMethods.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp3.1/ExtensionMethods.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.1/ExtensionMethods.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ExtensionMethods.dll
obj/Debug/netcoreapp3.1/ExtensionMethods.exe
obj/Debug/netcoreapp3.1/ExtensionMethods.genruntimeconfig.cache
obj/Debug/netcoreapp3.1/ExtensionMethods.pdb
obj/ExtensionMethods.csproj.nuget.dgspec.json
obj/ExtensionMethods.csproj.nuget.g.props
obj/ExtensionMethods.csproj.nuget.g.targets
bin/Debug/netcoreapp3.1/ExtensionMethods.dll
bin/Debug/netcoreapp3.1/ExtensionMethods.exe
.vscode/launch.json
.vscode/tasks.json
bin/Debug/netcoreapp3.1/ExtensionMethods.pdb